header {
  background-color: gray;
}

h1 {
  display: flex;
  justify-content: center;
}

h1:hover {
  color: violet;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

h2:hover {
  color: blue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container {
  max-width: 300px;
  margin: auto;
}

.lines-forms {
  background-color: gray;
  margin: auto;
}

.pattern {
  margin: auto;
}

.curve-text {
  background-color: gray;
  margin: auto;
}
  
.svg-circle:hover + .svg-text-group {
  opacity: .1;
}

.MyPolyline:hover {
  stroke: blue;
}